.container {  display: grid;
  grid-template-columns: 1.5fr 0.4fr;
  grid-template-rows: 0.3fr 1.7fr;
  gap: 25px 25px;
  grid-auto-flow: row;
  grid-template-areas:
    "groupby filters"
    "chart dimensions";
}

.groupby { grid-area: groupby;

}

.filters { grid-area: filters; 
 }

.dimensions { grid-area: dimensions;
    background-color: white;
border-radius:10px 
}

.chart { grid-area: chart; 
  background-color: white;
border-radius:10px }






.btn {
  border: none;
  outline: none;
  padding: 15px 25px;
  background-color: #DEEBFF;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
}

.active, .btn:hover {
  background-color: #85FCCF;
}

body{
  background-color: #F4F4F4;
  width: auto;
   height:auto;
}

.label{
  margin-left: 15px;
  font-size: 15px;
  font-family: arial;
  position: relative;
  top: 25px;
}
.icon{
  position: relative ;
  top: 30px;
  left: 15px;
  height: 32px;
  width: 32px;
}

.box{
  padding: 25px;
  background: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.box h3{
  text-align: center;
  padding: 0 0 30px 0;
}
.box .form-control{
  max-width: 300px;
  margin: 0 auto; 
}
.datepicker{
  font-family: 'Exo 2', sans-serif;
}
.datepicker--cell.-range-to-{
  background: rgba(248, 206, 236, 0.4);
  border-color: rgba(248, 206, 236, 1);
}
.datepicker--cell.-current-{}
.datepicker--cell.-selected-,.datepicker--cell.-selected-.-focus-{
  background-color: #f8ceec;
  color: #000000;
}
.datepicker--cell.-in-range-{
  background: rgba(248, 206, 236, 0.2);
}
.datepicker--cell-day {
    font-weight: 500;
    color: #000000;
}

.form-control{
  height: 50px;
  font-size: 15px;
  color: #414D64;
  background: #ffffff;
  padding: 0 15px;
  border: 2px solid #DADEEA;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
textarea.form-control{
  height: 120px;
  padding-top: 15px;
}
.form-control-plaintext{
  font-size: 18px;
  color: #434343;
}
button.form-control{
  text-overflow: ellipsis;
  overflow: hidden;
}
.form-control:focus{
  border-color: #37B448;
  -webkit-box-shadow: 0px 2px 6px rgba(55, 180, 72, .15);
  -moz-box-shadow: 0px 2px 6px rgba(55, 180, 72, .15);
  box-shadow: 0px 2px 6px rgba(55, 180, 72, .15);
}